body {
    background-color: #181D27;
}
#sobre-servico {
    padding-top: 100px;
}
#texto-imagem {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    margin: 8.33%;
}
#texto-imagem .div-txt{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 70%;
}
#texto-imagem .div-img{
    width: 30%;
}