.rowNoWrap{
    flex-wrap: nowrap;
}
.rowGap{
    gap: 1rem;
}
.cardMonth{
    width: 30%;
    min-width: calc(300px );
}
#dash{
    max-height: 250px;
}
.calendar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}

.calendar::after, .calendar::before{
    content: '';
    display: block;
    clear: both;
    width: 10px;
    height: 25px;
    border-radius: 30px;
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
}

.calendar::after{
    top: -10px;
    left: 20px;
}

.calendar::before{
    top: -10px;
    right: 20px;
}

.calendar * {
    box-sizing: border-box;
    margin: 0;
}

.calendar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    padding: 0.2rem;
    background-color: #DC2626;
    border-bottom: 1px solid #ccc;
}

.calendar-header h4{
    color: #fff;
    font-weight: 500;
}

.calendar-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    height: 100%;
}

.calendar-body .day{
    font-size: 3rem;
    font-weight: 500;
}
.calendar-body .name{
    font-size: 1.5rem;
    font-weight: 500;
}