.dropbtn {
  text-transform: uppercase;
  transition: all 1s linear;
}

/* .dropdown {
  position: relative;
  display: inline-block;
} */

.dropdown-content {
  display: none;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 20px;
  font-size: 12px;
  transition: all 1s linear;
}

.dropdown-content a {
  color: black;
  padding: 9px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1.3rem;
}

.dropdown-content a:hover {
  color: #3A7D44 !important;
}


li:hover .dropdown-content {
  display: block;
  transition: all 1s linear !important;
}

.a-selected {
  color: #3A7D44 !important;
}
