@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Orienta&family=Oxanium&display=swap');

* {
    font-family: "Oxanium";
    background-repeat: no-repeat;
}

body {
    background-color: #002C33;
    display: flex;
}

.container {
    display: flex;
    background-color: #EDF3F3;
    width: 930px;
    height: 550px;

    border-radius: 40px;
    margin-left: 15%;
    margin-top: 4%;
}

.container-2 {
    display: flex;
    flex-direction: row;
    gap: 10%;
}


input {
    box-sizing: border-box;
    width: 240px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #002C33;
    padding-left: 40px;
    outline: none;
  }

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.form h1 {
    display: flex;
    justify-content: center;
}

button {
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 25px;
    margin: 20px 0 10px 0;
    cursor: pointer;
    background-color: #002C33;
    position: relative;
   transition: all 0.3s ease-out;
  }

  button:hover{
    transform: scale(1.1);
  }

.input {
    display: flex;
    border-radius: 30px;
    width: 250px;
    line-height: 30px;
}

.cnpj{
    background-image: url(../IMG/icon-lupa.png);
    background-size: 18px;
    background-position: 8px;
  }

.nomeEmpresa{
    background-image: url(../IMG/icon-empresa.png);
    background-size: 18px;
    background-position: 8px;
  }

.nome{
    background-image: url(../IMG/icon-user.png);
    background-size: 18px;
    background-position: 8px;
  }

  .email{
    background-image: url(../IMG/icon-email.png);
    background-size: 18px;
    background-position: 8px;
  }

  .tel{
    background-image: url(../IMG/icon-tel.png);
    background-size: 18px;
    background-position: 8px;
  }

.senha{
    background-image: url(../IMG/icon-senha.png);
    background-size: 18px;
    background-position: 8px;
  }

.confirmacao {
    background-image: url(../IMG/icon-senha.png);
    background-size: 18px;
    background-position: 8px;
}

.foto img {
  display: flex;
  height: 300px;
  margin-top: 33%;

}
.voltar {
   background-color: #002C33;
   width: 40px;
   height: 40px;
   border-radius: 50px;
   margin: 2%;
   position: relative;
   transition: all 0.3s ease-out;
   border: none;
}

.voltar img {
    height: 40px;
  }

  .voltar:hover {
    transform: scale(1.1);
  }

  span {
    font-size: 15px;
    
  }

  @media only screen and (max-width: 1315px) {
    header{
        position: initial;
        background: #141414;
    }
    header div{
        justify-content: center;
    }
    header nav{
        justify-content: center;
    }
}
@media only screen and (max-width: 768px) {
    header nav{
        flex-direction: column;
        margin: 0px;
    }
}

[id*="col-"] {

    width: 100%;
    padding: 10px;
}  

@media only screen and (min-width: 768px) {
    col-1 {width: 8.33%;}
    col-2 {width: 16.66%;}
    col-3 {width: 25%;}
    col-4 {width: 33.33%;}
    col-5 {width: 41.66%;}
    col-6 {width: 50%;}
    col-7 {width: 58.33%;}
    col-8 {width: 66.66%;}
    col-9 {width: 75%;}
    col-10 {width: 83.33%;}
    col-11 {width: 91.66%;}
    col-12 {width: 100%;}
}