@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Orienta&family=Oxanium&display=swap');

* {
    font-family: "Oxanium";
    background-repeat: no-repeat;
    text-decoration: none;
}

body {
    background-color: #002C33;
    display: flex;
}

.container {
    display: flex;
    background-color: #F3F4F6;
    width: 930px;
    height: 550px;

    border-radius: 40px;
    margin-left: 15%;
    margin-top: 4%;
}

.container-2 {
    display: flex;
    flex-direction: row;
    gap: 25%;
    margin-bottom: 7%;
}


input {
    box-sizing: border-box;
    width: 240px;
    height: 40px;
    
    border-radius: 5px;
    border: 3px solid #002C33;
  
    padding-left: 40px;
  
  }

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    margin-top: 7%;
}

.form h1 {
    display: flex;
    justify-content: center;
}

.esqueceu {
  color: #002C33;
  width: 240px;
  margin-top: 10px;
  text-align: end;
}

button {
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 25px;
    margin: 20px 0 10px 0;
    cursor: pointer;
    background-color: #002C33;
    position: relative;
   transition: all 0.3s ease-out;
  }

  button:hover{
    transform: scale(1.1);
  }

.input {
    display: flex;
    border-radius: 30px;
    width: 250px;
    line-height: 30px;
    
}

.cnpj{
    background-image: url(../IMG/icon-lupa.png);
    background-size: 18px;
    background-position: 8px;
  }


.senha{
    background-image: url(../IMG/icon-senha.png);
    background-size: 18px;
    background-position: 8px;
  }



.foto img {
  display: flex;
  height: 300px;
  margin-top: 33%;

}
.voltar {
   background-color: #002C33;
   width: 40px;
   height: 40px;
   border-radius: 50px;
   margin: 2%;
   position: relative;
   transition: all 0.3s ease-out;
   border: none;
}

.voltar img {
    height: 40px;
  }

  .voltar:hover {
    transform: scale(1.1);
  }

  .nao-possui {
    color: #002C33;
    width: 290px;
    margin-top: 10px;
    text-align: center;

  }

  span {
    color: #ff0000;
    display: none;
    font-size: 15px;
    
  }

  

